<a href="https://colab.research.google.com/github/kim-minsun/Data-Science_Project/blob/Charles/Data_Science_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as web
import datetime as dt

In [42]:
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.layers import Dense, Dropout, LSTM
from tensorflow.keras.models import Sequential

In [43]:
dogecoin = 'DOGE'
currency = 'USD'

start = dt.datetime(2016,1,1)
end = dt.datetime.now()

data = web.DataReader(f"{dogecoin}-{currency}", "yahoo", start, end)

In [44]:
data.index = pd.to_datetime(data.index)

In [45]:
data

                High       Low      Open     Close        Volume  Adj Close
Date
2016-01-01  0.000156  0.000150  0.000150  0.000154  1.052240e+05   0.000154
2016-01-02  0.000156  0.000148  0.000155  0.000151  9.047700e+04   0.000151
2016-01-03  0.000150  0.000143  0.000149  0.000146  1.040050e+05   0.000146
2016-01-04  0.000148  0.000142  0.000146  0.000144  9.216000e+04   0.000144
2016-01-05  0.000154  0.000135  0.000144  0.000137  5.293700e+04   0.000137
...              ...       ...       ...       ...           ...        ...
2021-06-25  0.289145  0.230006  0.263480  0.239153  5.542163e+09   0.239153
2021-06-26  0.255127  0.230972  0.237673  0.244784  2.649457e+09   0.244784
2021-06-27  0.266891  0.240894  0.246045  0.264450  2.167522e+09   0.264450
2021-06-28  0.266982  0.250762  0.264918  0.256857  1.932995e+09   0.256857
2021-06-29  0.274405  0.253203  0.255918  0.267942  2.170859e+09   0.267942

[2003 rows x 6 columns]

In [46]:
scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(data['Close'].values.reshape(-1,1))

In [47]:
pred_days = 30

In [48]:
x_train, y_train = [], []

for x in range(pred_days, len(scaled_data)):
  x_train.append(scaled_data[x-pred_days:x, 0])
  y_train.append(scaled_data[x, 0])

In [49]:
x_train, y_train = np.array(x_train), np.array(y_train)
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))

In [ ]:
model = Sequential()

model.add(LSTM(units=50, return_sequences=True, input_shape=(x_train.shape[1], 1)))
model.add(Dropout(0.2))
model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50))
model.add(Dropout(0.2))
model.add(Dense(1))

model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(x_train, y_train, epochs=30, batch_size=32)

Epoch 1/30
62/62 [==============================] - 8s 49ms/step - loss: 0.0031
Epoch 2/30
62/62 [==============================] - 3s 48ms/step - loss: 0.0014
Epoch 3/30
38/62 [=================>............] - ETA: 1s - loss: 0.0019

In [ ]:
test_start = dt.datetime(2021,1,1)
test_end = dt.datetime.now()

test_data = web.DataReader(f"{crypto}-{currency}", "yahoo", test_start, test_end)

In [ ]:
test_data.index = pd.to_datetime(test_data.index)

In [ ]:
test_data

In [ ]:
actual_prices = test_data['Close']

In [ ]:
actual_prices = np.array(actual_prices)
actual_prices