<a href="https://colab.research.google.com/github/kim-minsun/Data-Science_Project/blob/Kim/Data_Science_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as web
import datetime as dt

In [2]:
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.layers import Dense, Dropout, LSTM
from tensorflow.keras.models import Sequential

In [31]:
data = pd.read_csv("coin_Bitcoin.csv")

In [28]:
#understanding the data

data.head()

   SNo      Name Symbol  ...     Close  Volume     Marketcap
0    1  Dogecoin   DOGE  ...  0.000205     0.0  1.509085e+06
1    2  Dogecoin   DOGE  ...  0.000269     0.0  2.169688e+06
2    3  Dogecoin   DOGE  ...  0.000362     0.0  3.188943e+06
3    4  Dogecoin   DOGE  ...  0.001162     0.0  1.115034e+07
4    5  Dogecoin   DOGE  ...  0.000704     0.0  7.284337e+06

[5 rows x 10 columns]

In [30]:
data.tail()

       SNo      Name Symbol  ...     Close        Volume     Marketcap
2626  2627  Dogecoin   DOGE  ...  0.047392  2.394345e+09  6.089686e+09
2627  2628  Dogecoin   DOGE  ...  0.056555  4.148512e+09  7.267918e+09
2628  2629  Dogecoin   DOGE  ...  0.050167  2.356982e+09  6.447665e+09
2629  2630  Dogecoin   DOGE  ...  0.050480  1.694323e+09  6.488523e+09
2630  2631  Dogecoin   DOGE  ...  0.050083  1.286230e+09  6.438193e+09

[5 rows x 10 columns]

In [23]:
data.describe()

               SNo         High  ...        Volume     Marketcap
count  2031.000000  2031.000000  ...  2.031000e+03  2.031000e+03
mean   1016.000000   267.068034  ...  5.429599e+09  2.698656e+10
std     586.443518   322.096221  ...  8.100359e+09  3.347336e+10
min       1.000000     0.482988  ...  1.021280e+05  3.221363e+07
25%     508.500000    13.221850  ...  2.848855e+07  1.086243e+09
50%    1016.000000   189.088865  ...  1.844270e+09  1.972963e+10
75%    1523.500000   342.238919  ...  7.944177e+09  3.280357e+10
max    2031.000000  2036.286493  ...  6.073363e+10  2.249103e+11

[8 rows x 7 columns]

In [17]:
data.shape #to check the shape of the data for bitcoin

(2862, 10)

In [24]:
data.columns

Index(['SNo', 'Name', 'Symbol', 'Date', 'High', 'Low', 'Open', 'Close',
       'Volume', 'Marketcap'],
      dtype='object')

In [32]:
data.nunique() #displays the unique values

SNo          2862
Name            1
Symbol          1
Date         2862
High         2852
Low          2856
Open         2855
Close        2849
Volume       2621
Marketcap    2861
dtype: int64

In [35]:
data['Marketcap'].unique()  #looking for specific unique value

array([1.60376886e+09, 1.54281312e+09, 1.29895459e+09, ...,
       8.77766126e+11, 8.63752275e+11, 8.60978135e+11])

In [36]:
#cleaning the data

In [37]:
data.isnull().sum() #checking null values in the dataset

SNo          0
Name         0
Symbol       0
Date         0
High         0
Low          0
Open         0
Close        0
Volume       0
Marketcap    0
dtype: int64